*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --bg:#05081a;
    --surface:#0d1125;
    --border:#1b2244;
    --text:#ffffff;
    --muted:#9ea4c7;

    --purple:#7c6ff7;
    --cyan:#4ecdc4;

}
html{
    scroll-behavior: smooth;
}
body{
    background:var(--bg);
    color:white;
    font-family: 'Inter',sans-serif;
    overflow-x:hidden;
}
.navbar{
    position:sticky;
    top:0;
    z-index:1000;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 5%;
    background:rgba(5,8,26,.92);
    backdrop-filter:blur(20px);
    border-bottom:1px solid var(--border);
}
.logo{
     font-size:2rem;
    font-weight:800;
}
.logo span{
    color:var(--purple);
}
.nav-right{
    display:flex;
    align-items: center;
    gap:25px;
}
.nav-links{
    display:flex;
    gap:30px;
   
}
.nav-links a{
    color:#a6adcf;
    font-weight:500;
    transition:.3s;
    text-decoration: none;
}
.nav-links a:hover{
    color:white;
}
.nav-btn{
    background:var(--purple);
    color:white;
    padding:14px 28px;
    border-radius:12px;
    font-weight:600;
    transition:.3s;
}
.nav-btn a{
    text-decoration: none;
    color: white;
}
.nav-btn:hover{
    transform:translateY(-2px);
}
.hero{
    min-height:calc(100vh - 80px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    padding:60px 20px;
    position:relative;
    overflow:hidden;
}
.hero h1{
    position:relative;
    z-index:2;
    font-family:'Space Grotesk',sans-serif;
    font-size:5.1rem;
    line-height:1.1;
    max-width:900px;
    margin-bottom:25px;
    font-weight:700;
}
.hero h1 span{
    background:linear-gradient(
        90deg,
        #7c6ff7,
        #59b6ff,
        #4ecdc4
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.hero p{
    position:relative;
    z-index:2;
    color:var(--muted);
    max-width:720px;
    font-size:1.3rem;
    line-height:1.8;
    margin-bottom:45px;
}
.hero-btns{
    position:relative;
    z-index:2;
    display:flex;
    gap:20px;
}
.first-btn{
    text-decoration:none;
    background:var(--purple);
    color:white;
    padding:18px 36px;
    border-radius:16px;
    font-weight:600;
    transition:.3s;
}
.first-btn:hover{
    transform:translateY(-3px);
}
.second-btn{
    text-decoration:none;
    color:white;
    border:1px solid #2a315d;
    padding:18px 36px;
    border-radius:16px;
    transition:.3s;
}
.second-btn:hover{
    border-color:var(--purple);
}
@media(max-width:900px){

    .hero h1{
        font-size:3.5rem;
    }

    .nav-links{
        display:none;
    }
}
@media(max-width:600px){

    .hero h1{
        font-size:2.6rem;
    }

    .hero p{
        font-size:1rem;
    }

    .hero-buttons{
        flex-direction:column;
        width:100%;
        max-width:300px;
    }
    .first-btn,
    .second-btn{
        text-align: center;
    }
}
#features{
    padding:100px 5%;
    background:var(--surface);
}
.section-header{
    margin-bottom:60px;
}
.section-tag{
   color:var(--purple);
    font-size:20px;
    font-weight:700;
    margin-bottom:15px;
}
.section-title{
    font-size:4rem;
    font-weight:700;
    color:white;
    line-height: 1.2;
    margin-bottom:20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
}
.features-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}
.features-card{
    background:#1a1f38;
    border:1px solid #2c3358;
    border-radius:18px;
    padding:30px;
    transition:0.3s;
}
.features-card:hover{
    transform:translateY(-5px);
    border-color:var(--purple);
}
.features-icon{
    width:55px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(124,111,247,.15);
    border-radius:12px; 
    font-size:1.4rem;
    margin-bottom:20px;
}
.features-card h3{
    color:white;
    margin-bottom:12px;
    font-size:1.2rem;
}
.features-card p{
    color:var(--muted);
    line-height:1.8;
    font-size:0.95rem;
}
#process{
    padding:120px 5%;
    
}
#process .section-header{
    text-align:center;
    margin-bottom:80px;
}
.process-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}
.process-step{
    text-align:center;
}
.step-circle{
    width:70px;
    height:70px;
    margin:auto;
    margin-bottom:20px;
    border-radius:50%;
    background:var(--purple);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
    font-weight:700;
    color:white;
}
.process-step h3{
    color:white;
    font-size:1.2rem;
}
.line{
    width:4px;
    height:70px;
    background:var(--purple);
    border-radius:10px;
}
#subjects{
    padding:100px 5%;
}
.subjects-grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-top:60px;
}
.subjects-card{
    background:#1a1f38;
    border:1px solid #2c3358;
    border-radius:18px;
    padding:30px 20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    transition:0.3s;
}
.subjects-card:hover{
    transform:translateY(-5px);
    border-color:var(--purple);
}
.subjects-card span{
    font-size:2rem;
    margin-bottom:15px;
}
.subjects-card h3{
    color:white;
    font-size:1.1rem;
    font-weight:600;
}
#started{
    padding:100px 5%;
}
.email-fill input{
    width:100%;
    height:55px;
    background:#1a1f38;
    border:1px solid #2c3358;
    border-radius:15px;
   color:white;
   padding:0 20px;
   font-size:1rem;
   margin-bottom:20px;
}
.join-free{
    height:55px;
    width:160px;
   background:var(--purple);
    border-radius:15px;
    font-size: 1rem;
   font-weight:600;
   cursor:pointer;
    transition:0.3s;
    color:white;
}
#footer{
    padding:80px 5% 30px;
    border-top:1px solid var(--border);
}
.footer-logo h2{
    font-size:2rem;
    font-weight:800;
    color:white;
    margin-bottom:20px;
}
.footer-logo span{
    color:var(--purple);
}
.footer-logo p{
    color:var(--muted);
    line-height:1.8;
    max-width:400px;
    font-size:1rem;
}
#footer .line{
    width:100%;
    height:1px;
    background:var(--border);
    margin:40px 0 25px;
}
.copyright{
    text-align:center;
}
.copyright p{
    color:var(--muted);
    font-size:0.95rem;
}


